{{loading-load}}
{{notification-container position="top-right" class="z-index"}}
{{navbar-navigation id="navbar" action="onTransitionToSearch"}}
{{outlet}}
{{footer-foot}}
<!-- Modal rung login -->
<div class="modal fade" id="modal-not-login" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert alert-info margin-bot0">
        Anda harus <strong>Masuk</strong> terlebih dahulu
      </div>
    </div>
  </div>
</div>
