<div id="work" class="create-post">
  <div class="container content-lg paddingbot0px width800">
    <div class="row">
      <div class="col-sm-12 sm-margin-b-50 margin-top30 dashboard-index">
        <div class="header-profile">
          <div class="pull-left">
            {{#if isCurrentUser}}
              <i class="ion ion-android-camera">
                {{photocropper-uploader-galleries id="photos" action=(route-action "doUpload")}}
              </i>
            {{/if}}
            {{background-image-container src=(image-url-helper user.imageurl) class="img-profile-dashboard"}}
          </div>
          <div class="media-body">
            <div class="inner">
              <h1>{{user.name}}</h1>
              <p>{{user.username}}</p>
              {{#if (and (not isCurrentUser) isLogedIn)}}
                <a onclick={{route-action "onFollowing"}} class="btn btn-primary">{{btnFollow}}</a>
              {{/if}}
              <a class="btn btn-default">{{user.total_follower}} follower</a>
              <a class="btn btn-default">{{user.total_following}} following</a>
            </div>
          </div>
        </div>
        <div class="navigation">
          <div class="{{navigationClass}} textCenter">
            {{#link-to 'dashboard' tagName='i' class="ion-compose ion"}}
              <p>status</p>
            {{/link-to}}
          </div>
          {{#if isCurrentUser}}
            <div class="{{navigationClass}} textCenter">
              {{#link-to 'dashboard.notification' tagName='i' class="ion-earth ion"}}
                <p>pemberitahuan</p>
              {{/link-to}}
            </div>
          {{/if}}
          <div class="{{navigationClass}} textCenter">
            {{#link-to 'dashboard.post' tagName='i' class="ion-ios-bookmarks-outline ion"}}
              <p>post</p>
            {{/link-to}}
          </div>
          <div class="{{navigationClass}} textCenter">
            {{#link-to 'dashboard.images' tagName='i' class="ion-images ion"}}
              <p>gallery</p>
            {{/link-to}}
          </div>
          {{#if isCurrentUser}}
            <div class="{{navigationClass}} textCenter">
              {{#link-to 'dashboard.setting' tagName='i' class="ion-android-settings ion"}}
                <p>pengaturan</p>
              {{/link-to}}
            </div>
          {{/if}}
        </div>
        <div class="content overflow-hiden padtopbot15px">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
