<div id="work" class="create-post">
  <div class="container content-lg paddingbot0px width800">
    <div class="row">
      <div class="col-sm-12 sm-margin-b-50 margin-top30 dashboard-index">
        <div class="header-profile">
          <div class="pull-left">
            <i class="ion ion-android-camera">
              {{photocropper-uploader-galleries id="photos" action="doUpload"}}
            </i>
            {{background-image-container src=(image-url-helper user.imageurl) class="img-profile-dashboard"}}
          </div>
          <div class="media-body">
            <div class="inner">
              <h1>{{user.name}}</h1>
              <p>{{user.username}}</p>
            </div>
          </div>
        </div>
        <div class="navigation">
          <div class="col-sm-3 textCenter">
            {{#link-to 'dashboard' tagName='i' class="ion-compose ion"}}
            {{/link-to}}
            <p>status</p>
          </div>
          <div class="col-sm-3 textCenter">
            {{#link-to 'dashboard.post' tagName='i' class="ion-ios-bookmarks-outline ion"}}
            {{/link-to}}
            <p>post</p>
          </div>
          <div class="col-sm-3 textCenter">
            {{#link-to 'dashboard.images' tagName='i' class="ion-images ion"}}
            {{/link-to}}
            <p>gallery</p>
          </div>
          <div class="col-sm-3 textCenter">
            {{#link-to 'dashboard.setting' tagName='i' class="ion-android-settings ion"}}
            {{/link-to}}
            <p>pengaturan</p>
          </div>
        </div>
        <div class="content overflow-hiden padtopbot15px">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
