<div id="login-wrapper">
  <div id="wrapper">
    <div class="main-content">
      <div class="header">
        <img src="/img/logo.png"/>
      </div>
      <div class="l-part">
        {{input type="text" value=user.user.username placeholder="Username" class="input-1"}}
        <div class="overlap-text">
          {{input type="password" value=user.user.password placeholder="Pasword" class="input-2"}}
        </div>
        <input disabled={{btnDisabled}} type="button" enter={{route-action "onLogin"}} value="login"
               class="btn btn-login"
               onclick={{route-action "onLogin"}}/>
      </div>
    </div>
    <div class="sub-content">
      <div class="s-part">
        {{#link-to 'sign-up'}}Don't have an account?{{/link-to}}
        {{#link-to 'sign-up' tagName="p" class="no-margin-bottom custom_"}}daftar disini dulu ya{{/link-to}}
        <a onclick={{route-action "onLoginFacebook"}} class="login-btn">
          <img src="/img/facebook-login.png">
        </a>
      </div>
    </div>
  </div>
</div>