<div id="login-wrapper">
  <div id="wrapper">
    <div class="main-content">
      <div class="header">
        <img src="http://imgh.us/instagram-logo_4.jpg"/>
      </div>
      <div class="l-part">
        {{input type="text" value=user.user.username placeholder="Username" class="input-1"}}
        <div class="overlap-text">
          {{input type="password" value=user.user.password placeholder="Pasword" class="input-2"}}
        </div>
        <input disabled={{btnDisabled}} type="button" enter={{action "doSave"}} value="login" class="btn btn-login" onclick={{action
        "doSave"}}/>
      </div>
    </div>
    <div class="sub-content">
      <div class="s-part">
        {{#link-to 'sign-up'}}Don't have an account?{{/link-to}}
      </div>
    </div>
  </div>
</div>