<div id="post-detail-wrapper">
  <div id="post-detail">
    <article class="article">
      <header class="header">
        <div class="inner">
          <div class="category">Life</div>
          <h1 class="headline">
            {{post.title}}
          </h1>
          <div class="meta">
            <span class="author">by <span class="author-name">{{post.user.name}}</span></span>
            <span class="pub-date">Posted {{post.created_at}}</span>
          </div>
        </div>
      </header>

      {{{post.description}}}
    </article>
    <div class="post-arrow">
      <div class="post-right">
        {{#link-to 'post-detail' nextPost.id tagName="i" class="ion-chevron-right ion"}}{{/link-to}}
        <div class="inner"><p>{{nextPost.title}}</p>
          <p>{{nextPost.created_at}}</p></div>
      </div>
      <div class="post-left">
        {{#link-to 'post-detail' prevPost.id class="ion-chevron-left ion" tagName="i"}}{{/link-to}}
        <div class="inner"><p>{{prevPost.title}}</p>
          <p>{{prevPost.created_at}}</p></div>
      </div>
    </div>
  </div>
  <div id="post-detail-comment">
    <div class="comments-container">
      <ul class="list-group">
        <p class="resptext">Responses</p>
        <li class="list-group-item comment-input{{if commentDisabled "hide"}}">
          <div class="comment-inner">
            <div class="title  pull-left">
              <img src="http://loremflickr.com/30/30" alt="">
            </div>
            <div class="contentcomment media-body">
              {{textarea class="form-control" value=commentpost.commentpost.comment}}
            </div>
          </div>
          <div class="btn-wrapper"><a class="btn btn-sm btn-primary" disabled={{isBtnDisabled}} onclick={{action
            'doSave'}}>comment</a></div>
        </li>
        {{#each comments as |comment|}}
          <li id="user-commentpost-{{comment.id}}" class="list-group-item">
            {{fav-icon _id = comment.id likes=comment.likecommentposts action="onFavouriteComment"}}
            <div class="comment-inner">
              <div class="pull-left">
                <img src="http://loremflickr.com/30/30" alt="">
              </div>
              <div class="media-body">
                <div class="namecomment">
                  <p>{{comment.user.username}}</p>
                </div>
                <div class="contentcomment">
                  <p>
                    {{comment.comment}}
                  </p>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="btn-wrapper-post">
    <a {{action "onloadcomment"}} class="btn-primary btn-medium btn width800" style="margin-bottom: 30px;">Load
      more commment</a>
  </div>
  <div class="width920">
    {{facebook-comment fbAPPID=fbAPPID url=url}}
  </div>
</div>