<div class="work-section" id="work">
  <div class="container content-lg">
    <div class="row margin-b-40">
      <div class="col-sm-12 textCenter">
        <h2>Post From Latest Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua
          enim minim veniam exercitation</p>
      </div>
    </div>
    <div id="post-container" class="row post">
      {{#each posts as |post|}}
        <div class="col-sm-4 sm-margin-b-50 post-item">
          <div class="margin-b-20">
            <div class="wow zoomIn pos-relative">
              <div class="category-post">
                <h5>{{post.category}}</h5></div>
              {{#link-to 'post-detail' post.id}}
                <img class="img-responsive" src="{{post.img}}" alt="{{post.title}}">
              {{/link-to}}
            </div>
          </div>
          <h4>{{#link-to 'post-detail' post.id}}{{post.title}}{{/link-to}}</h4>
          <p>{{post.description}}</p>
          {{#link-to 'post-detail' post.id class="link"}}Read More{{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
</div>