<div id="login-wrapper">
  <div id="wrapper">
    {{#if isUserFailFbLogin}}
      <div class="alert alert-info">
        Daftar dulu untuk melengkapi
      </div>
    {{/if}}
    <div class="main-content">
      <div class="header">
        <img src="/img/logo.png"/>
      </div>
      <div class="l-part">
        {{input id="name" type="text" value = user.user.name placeholder="Name" class="input-1"}}
        {{input id="username" type="text" value = user.user.username placeholder="Username" class="input-3"}}
        <div class="overlap-text">
          {{input id="password" type="password" value = user.user.password placeholder="Password" class="input-2"}}
        </div>
        <div class="overlap-text">
          {{input id="confirmpassword" type="password" value = passwordConfirmation placeholder="Confirmation Password"
                  class="input-2"}}
        </div>
        <a id="btn-signup" type="button" class="btn" disabled={{btnDisable}} onclick={{action "doSave"}}>Sign up</a>
      </div>
    </div>
  </div>
</div>