<div id="login-wrapper">
  <div id="wrapper">
    <div class="main-content">
      <div class="header">
        <img src="http://imgh.us/instagram-logo_4.jpg"/>
      </div>
      <div class="l-part">
        {{input type="text" value = name placeholder="Name" class="input-1"}}
        {{input type="text" value = username placeholder="Username" class="input-3"}}
        <div class="overlap-text">
          {{input type="password" value = password placeholder="Password" class="input-2"}}
        </div>
        <div class="overlap-text">
          {{input type="password" value = passwordConfirmation placeholder="Confirmation Password" class="input-2"}}
        </div>
        <a type="button" class="btn" disabled={{btnDisable}} onclick={{action "doSave"}}>Sign up</a>
      </div>
    </div>
  </div>
</div>