<div id="work" class="create-post">
  <div class="width800 content-lg padding0px">
    <div class="row">
      <div class="col-sm-12 sm-margin-b-50 margin-top30">
        <div class="posting">
          <div class="margin-bot10">
            <a type="button" class="btn btn-primary pull-right bt-save"
               onclick={{action "doSave"}} disabled={{isBtnDisable}}>Save</a>
            <div class="media-body">
              <div class="input-group">
            <span class="input-group-btn">
              <a class="btn btn-default" type="button">
                <span class="ion-image ion"></span>
                <span>Upload gambar</span>
              </a>
            </span>
                <div class="input-group-wrapper-createpost">
                  <div class="input-group">{{input class="form-control" placeholder="Masukkan Judul posting" type="text"
                                                   value = post.post.title}}</div>
                  <div class="input-group">{{input class="form-control" placeholder="Masukkan category posting"
                                                   type="text"
                                                   value = post.post.category}}</div>
                </div>
              </div>
            </div>
          </div>
          <div id="z-index-1" class="addpict collapse">'
            {{#each images as |image index|}}
              <div class="grid-del animated fadeIn" style="background-image: url(
                '{{image.src}}')">
                <i {{action "onAddImageToPost" index image.src}} class="ion-plus-circled"></i>
                <i {{action "onDeleteImage" index image.id image.src}} class="ion ion-close-circled"></i>

                <div class="black-shadow"></div>
              </div>
            {{/each}}
            <div class="grid-add animated fadeIn">
              {{image-uploader
                isEditFirst=false
                class="upload cust-input"
                name="file" type="file"
                accept="image/*"
                url=url files=files
                action="onImageChange"}}
              <i class="ion ion-ios-plus"></i>
            </div>
          </div>
        </div>
        {{tinymce-editor options=options value=post.post.description onValueChanged=(action "onTypeSomething")}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-delete-photo" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>If you delete this. all your post that depend on this photo will also deleted</h3>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger delete-photo" style="margin-bottom: 5px">delete</a>
        <button type="button" class="btn btn-default" style="margin: 0" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>