<div id="work" class="create-post">
  <div class="width800 content-lg padding0px">
    <div class="row">
      <div class="col-sm-12 sm-margin-b-50 margin-top30">
        <div class="posting">
          <div class="form-group">
            <label for="usr">Judul</label>
            {{input type="text" class="form-control" id="usr" value = post.post.title}}
          </div>
          <div class="form-group">
            <label for="sel1">Kategori</label>
            <select class="form-control" id="sel1" onchange={{route-action "onSelectCategory"}}>
              {{#each postCategories as |postCategory|}}
                <option value={{postCategory.value}}>{{postCategory.name}}</option>
              {{/each}}
            </select>
          </div>
          {{photo-collections routeUserId=userId onAddImage=(action (route-action "onAddImageToPost"))
                              onDelImage=(action (route-action "onDeleteImage"))}}
        </div>
        {{tinymce-editor options=options value=post.post.description onValueChanged=(action (route-action "onTypeSomething"))}}
        <div class="btn-wrapper margin-top30"><a disabled={{not isBtnDisable}} onclick={{route-action "doSave"}}
                                                 class="btn btn-primary btn-md">Save</a></div>
      </div>
    </div>
  </div>
</div>