<div id="work" class="create-post">
  <div class="width800 content-lg padding0px">
    <div class="row">
      <div class="col-sm-12 sm-margin-b-50 margin-top30">
        <div class="posting">
          <div class="margin-bot10">
            <a type="button" class="btn btn-primary pull-right bt-save"
               onclick={{action "doSave"}} disabled={{isBtnDisable}}>Save</a>
            <div class="media-body">
              <div class="input-group">
            <span class="input-group-btn">
              <a class="btn btn-default" type="button">
                <span class="ion-image ion"></span>
                <span>Upload gambar</span>
              </a>
            </span>
                <div class="input-group-wrapper-createpost">
                  <div class="input-group">{{input class="form-control" placeholder="Masukkan Judul posting" type="text"
                                                   value = post.post.title}}</div>
                  <div class="input-group">{{input class="form-control" placeholder="Masukkan category posting"
                                                   type="text"
                                                   value = post.post.category}}</div>
                </div>
              </div>
            </div>
          </div>
          {{photo-collections routeUserId=userId onAddImage=(action "onAddImageToPost")
                              onDelImage=(action "onDeleteImage")}}
        </div>
        {{tinymce-editor options=options value=post.post.description onValueChanged=(action "onTypeSomething")}}
      </div>
    </div>
  </div>
</div>