{{#unless isPasswordEdit}}
  <div class="setting-item">
    <div class="col-sm-12"><p>Name</p></div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="ion ion-person"></i></span>
      {{input value=user.user.name type="text" class="form-control" placeholder="Name"}}
    </div>
  </div>
  <div class="setting-item">
    <div class="col-sm-12"><p>Username</p></div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="ion ion-person"></i></span>
      {{input value=user.user.username type="text" class="form-control" placeholder="Username"}}
    </div>
  </div>
{{/unless}}
<div class="edit-password">
  <div class="edit-password-title">
    <p class="pull-left"> Password Setting</p>
    <div class="pull-right"><a {{action 'onEditPassword'}} class="btn btn-default btn-sm">edit password</a></div>
  </div>
  {{#if isPasswordEdit}}
    <div class="edit-password-body">
      <div class="setting-item">
        <div class="col-sm-12"><p>Password lama</p></div>
        <div class="input-group">
          <span id="basic-addon1" class="input-group-addon"><i class="ion ion-person"></i></span>
          {{input value=user.user.password placeholder="Password lama"
                  class="form-control"
                  type="text"}}
        </div>
      </div>
      <div class="setting-item">
        <div class="col-sm-12"><p>Password baru</p></div>
        <div class="input-group">
          <span id="basic-addon1" class="input-group-addon"><i class="ion ion-person"></i></span>
          {{input value=newPassword placeholder="Password baru"
                  class="form-control"
                  type="text"}}
        </div>
      </div>
      <div class="setting-item">
        <div class="col-sm-12"><p>Konfirmasi Password</p></div>
        <div class="input-group">
          <span id="basic-addon1" class="input-group-addon"><i class="ion ion-person"></i></span>
          {{input value=newPasswordConfirmation placeholder="Konfirmasi Password baru"
                  class="form-control"
                  type="text"}}
        </div>
      </div>
      <div class="btn-wrapper"><a onclick={{action 'onUpdatePassword'}} disabled={{ifPasswordMatch}}
                                  class="btn-primary btn">Simpan
        Password</a></div>
    </div>
  {{/if}}
</div>
{{#unless isPasswordEdit}}
  <div class="btn-wrapper-setting">
    <a onclick={{action "onUpdateUser"}} class="btn-primary btn">Simpan</a>
  </div>
{{/unless}}
