{{#if currentProfile}}
  {{photo-collections
    isTimeline=isTimeline
    title="pilih foto untuk di upload di statusmu"
    routeUserId=routeUserId
    onAddImage=(action "onAddImage")
    onDelImage=(action "onDelImage")}}
  <div class="create-status">
    <div class="pull-left">
      {{background-image-container src=(image-url-helper imageProfile) class="cust21"}}
    </div>
    <div class="media-body">
      {{tinymce-editor options=options class="form-control no-border"
                       onValueChanged=(action "onTypeSomething")}}
      <div class="add-photo-to-status">
        {{#each images as |image|}}
          {{#background-image-container class="photo-item" src=image.src}}
            <i {{action 'onDeleteStatusPhoto' image.id}} class="ion ion-close-circled"></i>
          {{/background-image-container}}
        {{/each}}
      </div>
      <a onclick={{action "doSave"}} disabled={{isBtnDisable}} class="btn btn-primary">Update status</a>
      <a class="btn btn-primary"><i class="ion ion-camera"></i>Tambah foto</a>
    </div>
  </div>
{{/if}}

<div class="status-wrapper">
  {{#each statuses as |status index|}}
    {{#if (eq status.mark "STATUS")}}
      {{status-item
        username=status.user.username
        imageProfile = status.user.imageurl
        status=status.statushtml
        statusText = status.statustext
        statusId=status.id
        statusImages = status.imagestatuses
        commentstatuses=status.commentstatuses}}
    {{else}}
      {{post-item
        idPost=status.id
        likes=status.likeposts
        category=status.category
        username=status.user.username
        createdAt=status.created_at
        img =  status.image
        title = status.title
        review = status.review
        isVertical=true
      }}
    {{/if}}
  {{/each}}
  {{yield}}
</div>