<header class="header navbar-fixed-top">
  <!-- Navbar -->
  <nav class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="menu-container js_nav-item">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggle-icon"></span>
        </button>
        <!-- Logo -->
        <div class="logo">
          {{#link-to 'index' class="logo-wrap"}}
            <img class="logo-img" src="/img/logo.png" alt="Asentus Logo">
          {{/link-to}}
        </div>
        <!-- End Logo -->
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav navbar-nav-right">

            <li class="js_nav-item nav-item">{{#link-to 'index' class="nav-item-child nav-item-hover"}}
              Index{{/link-to}}</li>
            <li class="js_nav-item nav-item">{{#link-to 'post' class="nav-item-child nav-item-hover"}}
              Post{{/link-to}}</li>
            {{#if isLinkProfileVisible}}
              <li class="js_nav-item nav-item login">{{#link-to 'timeline' class="nav-item-child nav-item-hover"}}
                Linimasa{{/link-to}}</li>
              <li class="js_nav-item nav-item user">
                <a href="/dashboard/{{id}}" class="nav-item-child nav-item-hover">Profile</a>
              </li>
              <li class="js_nav-item nav-item"><a {{action "onLogOut"}} class="nav-item-child nav-item-hover">Keluar</a>
              </li>
            {{else}}
              <li class="js_nav-item nav-item login">{{#link-to 'login' class="nav-item-child nav-item-hover"}}
                Masuk{{/link-to}}</li>
              <li class="js_nav-item nav-item login">{{#link-to 'sign-up' class="nav-item-child nav-item-hover"}}
                Registrasi{{/link-to}}</li>
            {{/if}}

            <li class="js_nav-item nav-item">
              <div class="search-wrapp-nav">
                <div class="input-group">
                  <span onclick={{action "onsearch"}} class="input-group-addon" id="basic-addon1">
                    <i class="ion-ios-search-strong ion"></i>
                  </span>
                  {{input class="form-control" value=search enter="onsearch" placeholder="Cari..." type="text"}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>
  <!-- Navbar -->
</header>