<div class="status-item">
  <div class="status-detail">
    <div class="pull-left">
      {{background-image-container src=(image-url-helper imageProfile) class="cust21"}}
    </div>
    <div class="media-body">
      <p>{{username}}</p>
      {{{status}}}
      <div class="imagestatuses-wrapper">
        {{#each statusImages as |statusImage index|}}
        {{!-- if imagestatuses morethan 4 --}}
          {{#if (or (eq statusImagesSize 2)(gte statusImagesSize 4))}}
            {{#if (lte index 2)}}
              <a href="{{statusImage.imageurl}}" data-lightbox="status-image-{{statusId}}" data-title="{{statusText}}">
                <div class="col-sm-6  margin-bot30">{{background-image-container src=statusImage.imageurl
                                                                                 class="item"}}</div>
              </a>
            {{else if (eq index 3)}}
              <a href="{{statusImage.imageurl}}" data-lightbox="status-image-{{statusId}}" data-title="{{statusText}}">
                <div class="col-sm-6  margin-bot30">
                  {{#background-image-container src=statusImage.imageurl class="item"}}
                    <div class="item-morethan">
                      <p>
                        {{statusImagesSizeIfGT3}} +
                      </p>
                    </div>
                  {{/background-image-container}}
                </div>
              </a>
            {{else}}
              <a href="{{statusImage.imageurl}}"
                 data-title={{statusText}} data-lightbox="status-image-{{statusId}}"></a>
            {{/if}}
          {{!-- if image length == 3 --}}
          {{else if (eq statusImagesSize 3)}}
            <a href="{{statusImage.imageurl}}" data-lightbox="status-image-{{statusId}}" data-title="{{statusText}}">
              {{#if (lt index 2)}}
                <div class="col-sm-6 margin-bot15">{{background-image-container src=statusImage.imageurl
                                                                                class="item"}}</div>
              {{else}}
                <div class="col-sm-12  margin-bot15">{{background-image-container src=statusImage.imageurl
                                                                                  class="item margin-top15"}}</div>
              {{/if}}
            </a>
          {{else}}
            <a href="{{statusImage.imageurl}}" data-lightbox="status-image-{{statusId}}" data-title="{{statusText}}">
              <div class="col-sm-12  margin-bot15">{{background-image-container src=statusImage.imageurl
                                                                                class="item"}}</div>
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="comment-statuses">
    <div class="detailwrapper">
      <h3 class="pull-left">Komentar</h3>
      {{!-- {{action "onToggleComment" "#comment-"statusId }}  --}}
      <a href="javascript:void(0);" data-target="#comment-{{statusId}}" data-toggle="collapse"
         class="pull-right"><p class="pull-right">lihat komentar</p></a>
    </div>
    <div id="comment-{{statusId}}" class="collapse in comment-wrapper">
      {{#each commentstatuses as |comment index|}}
        <div id="user-status-{{comment.id}}" class="comment-status">
          <div class="pull-left">
            {{background-image-container class="cust21" src=(image-url-helper comment.user.imageurl)}}
          </div>
          <div class="media-body">
            <p>{{comment.user.username}}</p>
            <p>{{comment.comment}}</p>
          </div>
        </div>
      {{/each}}
      {{textarea value=comment class="form-control" placeholder="tulis komentar"}}
      <a disabled={{isBtnDisable}} onclick={{action "doSaveComment"}} style="margin-top: 15px;width: 150px;" class="btn btn-primary
      pull-right">Save</a>
    </div>
  </div>
</div>