<li class="list-group-item user-list">
  <div>
    <div class="pull-left">
      {{background-image-container src=(image-url-helper imageurl)}}
    </div>
    <div class="media-body">
      <p><a href="/dashboard/{{userId}}" target="_blank">{{username}}</a></p>
      <p>{{name}}</p>
      <p>Bergabung pada {{createdAt}}</p></div>
  </div>
</li>