<li class="list-group-item user-list">
  <div>
    <div class="pull-left">
      <h1>{{imageurl}}</h1>
      {{background-image-container src=(image-url-helper imageurl)}}
    </div>
    <div class="media-body">
      <p>{{username}}</p>
      <p>{{name}}</p>
      <p>Bergabung pada {{createdAt}}</p></div>
  </div>
</li>